<div class="tracking position-relative">
  <button class="btn btn-outline-secondary backBtn" (click)="back() ">Back </button>

  <div class="container">
    <div class="head position-relative">
      <h2 class="text-center">Tracking </h2>


      <div class="filters row mb-4 align-items-end">
        <div class="col-md-3">
          <div class="form-group">
            <label for="filterType" class="form-label">Filter By</label>
            <select id="filterType" name="filterType" [(ngModel)]="filterTypeValue" #filterType="ngModel"
              (ngModelChange)="resetFilter();filterTypeValue = $event" class="form-control">
              <option value="" disabled></option>
              <option value="1">Sales Person</option>
              <!-- <option value="2"> Date Of Visit</option> -->

            </select>
          </div>
        </div>

        <div class="col-md-3" *ngIf="filterTypeValue == 1">
          <div class="form-group">
            <label for="SalesPerson" class="form-label">Sales Person</label>
            <input id="SalesPerson" name="SalesPerson" ngModel #SalesPerson="ngModel" class="form-control"
              (keyup)="applyFilter($event, 'username')" />
          </div>
        </div>

        <div class="col-md-2">
          <button class="btn btn-secondary" *ngIf="filterTypeValue" (click)="resetFilter(); ">Reset</button>
        </div>
      </div>
    </div>

    <!-- loading state -->
    <ng-container *ngIf="loading">
      <app-loading></app-loading>
    </ng-container>

    <!-- empty state -->
    <ng-container *ngIf="(!exist || !usersStats?.length) && !loading">
      <div class="card card-transparent m-auto" style="max-width: max-content;">
        <div class="card-body text-center empty-state">
          <img src="/assets/empty.svg" width="100" height="100" alt="img" />
          <h2 class="semi-bold my-3">No Data matches .. Try Again!</h2>
          <button class="btn btn-primary" type="button" (click)="goToDashboard()">Back</button>
        </div>
      </div>
    </ng-container>

    <!-- display data -->
    <ng-container *ngIf="exist && usersStats?.length && !loading">
      <div class="table-box position-relative">
        <table class="table table-striped  table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Sales Person</th>
              <th scope="col">Group</th>
              <th scope="col">Sub Group</th>
              <th scope="col">----</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of  filtredUsersStats; let i = index">

              <tr>
                <th scope="row">{{ i + 1 }}</th>
                <td> {{item?.user?.username ?item?.user?.username: '----'}} </td>
                <td>{{ item?.user?.group ?item?.user?.group :'----'}}</td>
                <td>{{ item?.user?.subgroup ?item?.user?.subgroup: '----'}}</td>
                <td>
                  <button class="btn trackBtn" (click)="goToMap(item?.user)">View Map</button>
                </td>
              </tr>
            </ng-container>

            <tr *ngIf="!filtredUsersStats?.length">
              <td colspan="5" style="text-align: center">No User Data found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
