.visit-details {
  padding: 50px 0px;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
}

.visit-details h2 {
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 50px;
}

.table-box {
  overflow-x: scroll;
  box-shadow: 0px 0px 24px 6px #ccc;
}

table {
  text-align: center;
  vertical-align: middle;
  min-width: max-content;
  margin-bottom: 0;
}

table thead tr th {
  background: #001828;
  color: #fff;
  padding: 16px;
}


.trackBtn {
  position: absolute;
  top: 0px;
  right: 50px;
  background-color: #ffbe66;
  padding: 6px 16px;
  max-width: 150px;
  font-size: 17px;
  font-weight: 500;
  border: 2px solid #072249;
  border-radius: 3px;
  transition: 0.3s all ease-in-out;
}

.trackBtn:hover {
  transform: translateY(3px);
}

@media (max-width: 768px) {
  .trackBtn {
    top: 50px;
    right: 0px;
  }
}
