<div class="dashboard position-relative">
  <button class="btn btn-outline-secondary backBtn" (click)="back() ">Back </button>

  <div class="container">
    <div class="head">
      <h2 class="text-center">DashBoard</h2>

      <div class="filters mb-4 mb-sm-5">
        <ul class="list-unstyled d-flex w-100 justify-content-center align-items-center flex-wrap">

          <li>
            <button [disabled]="loading" type="button" (click)="filter('Today');resetDate(); active = 1"
              class="{{ active == 1 ? 'active' : '' }}">Today</button>
          </li>
          <li>
            <button [disabled]="loading" type="button" (click)="filter('yesterday');resetDate(); active = 5"
              class="{{ active == 5 ? 'active' : '' }}">Yesterday</button>
          </li>
          <li>
            <button [disabled]="loading" type="button" (click)="filter('Week');resetDate(); active = 2"
              class="{{ active == 2 ? 'active' : '' }}">Week</button>
          </li>
          <li>
            <button [disabled]="loading" type="button" (click)="filter('Month');resetDate(); active = 3"
              class="{{ active == 3 ? 'active' : '' }}">Month</button>
          </li>
          <li>
            <button [disabled]="loading" type="button" (click)="filter('Three Months');resetDate(); active = 4"
              class="{{ active == 4 ? 'active' : '' }}">Three
              Months</button>
          </li>

          <li>
            <button [disabled]="loading" type="button" (click)="customDate = true; active = 6; usersStats = []"
              class="{{ active == 6 ? 'active' : '' }}">
              Custom Date
            </button>
          </li>
        </ul>


        <div class="row align-items-center justify-content-center">
          <div class="col-md-3 mb-3 mb-md-0">
            <div class="form-group">
              <label for="SalesPerson" class="form-label">Sales Person</label>
              <select name="users" id="SalesPerson" ngModel [ngModel]="filterValue" #SalesPerson="ngModel"
                class="form-control" (ngModelChange)="applyFilter($event, 'username', true)">
                <option value="">----</option>
                <ng-container *ngFor="let item of allUsers">
                  <option value="{{item?.id}}">{{item?.username}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="customDate">
          <form class="row row-cols-sm-auto">
            <div class=" col-md-6  mb-2">
              <label for="dateOfVisit" class="form-label"> From</label>

              <div class="dp-hidden position-absolute">
                <div class="input-group">
                  <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                    outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" [maxDate]="maxDate" autocomplete="off" />
                  <ng-template #t let-date let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                      {{ date.day }}
                    </span>
                  </ng-template>
                </div>
              </div>
              <div class="input-group">
                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                  [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                  autocomplete="off" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button">
                  <i class="fa-solid fa-calendar-days"></i>
                </button>
              </div>
            </div>
            <div class=" col-md-6 ">
              <label for="dateOfVisit" class="form-label"> To</label>

              <div class="input-group">
                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                  [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)"
                  autocomplete="off" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button">
                  <i class="fa-solid fa-calendar-days"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- loading state -->
    <ng-container *ngIf="loading">
      <app-loading></app-loading>
    </ng-container>

    <!-- empty state -->
    <ng-container *ngIf="(!exist || !usersStats?.length) && !loading ">
      <div class="card card-transparent m-auto" style="max-width: max-content;">
        <div class="card-body text-center empty-state">
          <img src="/assets/empty.svg" width="100" height="100" alt="img" />
          <h2 class="semi-bold my-3">No Data matches .. Try Again!</h2>
          <button class="btn btn-primary" type="button" (click)="goToGroups()">Back</button>
        </div>
      </div>
    </ng-container>

    <!-- display data -->
    <ng-container *ngIf="exist && usersStats?.length && !loading">
      <div class="stats position-relative">
        <ng-container *ngFor="let item of usersStats">
          <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center stat py-2">
            <div class="d-flex d-sm-none align-items-center justify-content-between flex-wrap w-100 mb-2">
              <h3 class="m-0">{{item?.user?.username??'Null'}}</h3>
              <h4 class="m-0">{{item?.count}} </h4>
            </div>
            <h3 class="mb-0 d-none d-sm-block">{{item?.user?.username??'Null'}}</h3>
            <div [style.width]="((((item?.count / usersStats[0]?.count) * 100)*width) / 100) + 'px'"
              style="max-width: 700px;" class="stat-bar">
              <ngb-progressbar [value]="100" [striped]="true" />
            </div>
            <h4 class="mb-0 d-none d-sm-block">{{item?.count}} </h4>
          </div>
        </ng-container>
        <h3 class="topH">{{group2 + ' '}} Top 10 Visits</h3>
        <button class="btn visitsBtn" (click)="goToVisitDetails()">See Visits In Details</button>
      </div>
    </ng-container>
  </div>
</div>
