agm-map {
  height: 90vh;
}

.map {
  padding: 50px 0px;
}

.map h2 {
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 25px;
  text-align: center;
}

.map .box {
  box-shadow: 0px 0px 1px 1px #dbdbdb;
}

::ng-deep img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 40px;
  height: 40px;
  object-fit: cover;
  top: -50px;
  left: -25px;
}

::ng-deep img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive.path2 {
  top: -32px;
  left: -15px;
  width: 30px;
  height: 32px;
  object-fit: fill;
}

::ng-deep path.leaflet-interactive {
  fill: #0003;
}

::ng-deep img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 50px;
  height: 50px;
}

::ng-deep .leaflet-popup {
  padding: 10px !important;
  width: 200px;
  text-wrap: balance;
  max-height: max-content !important;
  background-color: #101828;
  color: #fff;
  left: -95px !important;
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
  text-align: center;
  border-radius: 5px;
  font-size: 14px !important;
  bottom: 10px !important;
}

::ng-deep .leaflet-popup .leaflet-popup-content-wrapper {
  width: 100%;
  height: 100%;
  min-width: 100%;
  background: transparent;
  box-shadow: none !important;
  color: #fff !important;
  min-height: 100%;
}

::ng-deep .leaflet-popup .leaflet-popup-tip {
  background: #101828 !important;
}

::ng-deep .leaflet-popup .leaflet-popup-tip-container {
  bottom: -20px;
}

::ng-deep .leaflet-popup .leaflet-popup-content {
  text-align: center;
  text-align: center;
  width: 100% !important;
  margin: 0 !important;
}

::ng-deep .leaflet-popup p {
  margin: 5px 0 !important;
}
